/******* GENERAL *******/
/* spacing on all sections */
#about,
#skills,
#portfolio,
#contact {
    margin-top: 4rem;

}

#about h2,
#skills h2,
#portfolio h2,
#contact h2 {
    margin-bottom: 3rem;
}

#contact {
    padding-bottom: 4rem;
}

/* display background dark color on navbar scroll */
.navbarScroll.navbarDark {
    background-color: #661987;
}

/* hero background image */
.bgimage {
    height: 100vh;
    max-height: 900px;
    background: url("images/image1.jpg");
    background-size: cover;
    position: relative;
}

/* text css above hero image*/
.hero_title {
    font-size: 2.5rem;
}

.hero_desc {
    font-size: 2rem;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* about */
.imageAboutPage {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;

}

#about .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about h3 {
    font-size: 19px;
}

/* skills */
.skillsText.card {
    height: 350px;
    cursor: pointer;
}

.skillsText img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

#skills p {
    text-align: center;
}

.skillsIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.card-title {
    text-align: center;
}

.card:hover .skillsIcon {
    color: #661987;
}

.skillsText:hover {
    border: 1px solid #661987;
}

/* portfolio */
.portfolioContent {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


button.btn-custom:hover {
    background-color: #661987;
    color: white !important;
    border: none !important;
}

.btn-custom:focus,
.btn-custom:active {
    outline: none !important;
    box-shadow: none !important;
}

.text-center a {
    text-decoration: none;
    color: inherit;
}

.text-center a:hover {
    color: #661987;
}

p.card-text {
    margin-top: 10px;
}

/* contact */
.contactColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contactColumn i {
    color: #661987;
}




/* footer */

footer {
    text-align: center;
    padding: 20px;

}